# Version Control
.git
.github

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Local Dataset Files & Evaluation
cyclone/
flood/
wildfire2/
flood2/
FloodNet Challenge/
cyclone test data/
flood test data/
wildfire test data/
cyclone test results/
flood test results/
wildfire test results/
train/
valid/
heatmaps/

# Heavy Weights (Weights are dynamically fetched from Hugging Face Model Hub)
*.pth
